HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Properties ###
**/application.properties
**/application-dev.properties
**/application-prod.properties
**/application-qa.properties
**/application-test.properties
**/application-local.properties
**/application-staging.properties
**/application-uat.properties
**/application-preprod.properties

### YAML ###
**/application.yml
**/application-dev.yml
**/application-prod.yml
**/application-qa.yml
**/application-test.yml
**/application-local.yml
**/application-staging.yml
**/application-uat.yml
**/application-preprod.yml